.button {
  padding: 10px;
  background-color: #FFE575;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

.home-buttons {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 40vh auto;

  .button {
    margin-right: 20px;
    font-size: 30px;
  }
}
