/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import 'bootstrap';
@import 'form';
@import 'button';

body {
  background-image: image-url('Background.png');
}

h1,
h2,
h3 {
  font-family: 'Ubuntu', sans-serif;
}

p,
a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.card {
  background-color: #76ABF2;
  border: 1px solid  #FFE575;
}

.card-title {
  background-color: #FFE575;
}

.card-sub-title a {
  color: black;
}

.weather-icon {

}
